ion-content{
    --ion-background-color: #63594d;
  }

.contenido{
    padding: 5%;
    margin-top: 10px;
    text-align: center;
    .titulo{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
    }

    .cafeteria{
        width: 50%;
        margin-bottom: 20px;
    }
}

ion-card {
    --background: #f7f7f7;
    --box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  ion-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  ion-card-header ion-card-title {
    font-size: 24px;
    font-weight: bold;
    color:#63594d;
  }
  
  ion-card-header ion-card-subtitle {
    font-size: 18px;
  }
  
  ion-card-content {
    font-size: 20px;
    font-weight: bold;
    color: green;
  }
  
  .producto-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .producto-label span {
    color: #D2B48C;
    margin-right: 10px;
  }
  
    
  .producto-label1 {
    font-size: 20px;
    color:green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .producto-label span {
    color: #D2B48C;
    margin-right: 10px;
  }
  