<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button color="dark" (click)="setOpen(true)">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button color="success" (click)="setBuscar(true)">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      </ion-button>
      <ion-button color="warning" (click)="admin()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cardProductos">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let producto of productos">
          <ion-card>
            <img src="{{producto.foto}}" alt="{{producto.nombre}}">
            <ion-card-header>
              <ion-card-title>{{producto.nombre}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>$ {{producto.precio}}</ion-card-subtitle>
              <ion-button color="dark" (click)="onCarrito(producto)">
                <ion-icon name="cart-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Carrito de compras</ion-title>
          <ion-buttons slot="end">
            <ion-button class="close" (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item *ngFor="let producto of productosCarrito">
            <ion-avatar slot="start">
              <img src="{{producto.foto}}" alt="{{producto.nombre}}" />
            </ion-avatar>
            <ion-label>{{producto.nombre}}</ion-label>
            <ion-label> ${{producto.precio}}</ion-label>
            <ion-label class="btn">
              <ion-button color="danger" (click)=" borrarDelCarrito(producto.id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-list>

        <!---->
        <ion-list>
          <ion-item>
            <h2>Total: $ {{this.total}}</h2>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nombre de quien recibe</ion-label>
            <ion-input required="" type="text" required [(ngModel)]="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button (click)="borrarOrden()" color="danger" expand="block">BORRAR ORDEN</ion-button>
            <ion-button (click)="onOrdenar()" color="success" expand="block">REALIZAR ORDEN</ion-button>
          </ion-item>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isModalBuscar">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Buscar orden</ion-title>
          <ion-buttons slot="end">
            <ion-button class="close" (click)="setBuscar(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Numero de Orden</ion-label>
            <ion-input required="" type="text" required [(ngModel)]="numOrden"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button (click)="buscarOrden(numOrden)" color="success" expand="block">BUSCAR ORDEN</ion-button>
          </ion-item>
        </ion-list>


        <ion-list *ngIf="this.detalleOrden">
          <ion-item class="ion-padding">
            <ion-label>NOMBRE:</ion-label>
            <ion-text>{{this.ordenCliente.cliente}}</ion-text>
          </ion-item>
          <ion-item class="ion-padding">
            <ion-label>A PAGAR:</ion-label>
            <ion-text>${{this.ordenCliente.total}}</ion-text>
          </ion-item>
          <ion-item class="ion-padding">
            <ion-label>ESTATUS:</ion-label>
            <ion-text color="{{ this.ordenCliente.estado === 2 ? 'success' : this.ordenCliente.estado === 1 ? 'warning' : 'default' }}">
              {{ this.ordenCliente.estado === 0 ? 'RECIBIDA' :
              this.ordenCliente.estado === 1 ? 'EN PREPARACION' :
              this.ordenCliente.estado === 2 ? 'ORDEN LISTA' :
              'Desconocido' }}
            </ion-text>

          </ion-item>
        </ion-list>



      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>