<ion-header [translucent]="true">
<ion-content  [fullscreen]="true">

  <div class="contenido">
    <h2 class="titulo">CAFETERIA UTM</h2>
    <img class="cafeteria" src="../../assets/cafeteria.png" alt="">
  <ion-item>
    <ion-label>
      Email
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Password
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button class="btn" color="dark" (click)="onRegistrer()" expand="full" >Login</ion-button>

</div>

</ion-content>
