<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>NUMERO</ion-label>
      <ion-label>TOTAL</ion-label>
      <ion-label>ACCIONES</ion-label>
    </ion-item>
    <ion-item *ngFor="let orden of ordenes">
      <ion-label>{{orden.numOrden}}</ion-label>
      <ion-label> ${{orden.total}}</ion-label>
      <ion-label class="btn">
        <ion-button color="success" (click)="setOpen(true,orden.numOrden)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="borrarOrden(orden.numOrden)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>



  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalle de orden</ion-title>
          <ion-buttons slot="end">
            <ion-button class="close" (click)="setOpen(false, '')">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item *ngFor="let producto of this.ordenCliente.productos">
            <ion-avatar slot="start">
              <img src="{{producto.foto}}" alt="{{producto.nombre}}" />
            </ion-avatar>
            <ion-label>{{producto.nombre}}</ion-label>
            <ion-label> ${{producto.precio}}</ion-label>
          </ion-item>
        </ion-list>
        <!---->
        <ion-list>
          <ion-item>
            <h2>Total: $ {{this.ordenCliente.total}}</h2>
          </ion-item>
          <ion-item>
            <ion-text>Cliente: {{this.ordenCliente.cliente}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>ORDEN: {{this.ordenCliente.numOrden}}</ion-text>
          </ion-item>
          <ion-item >
            <ion-label>ESTATUS:</ion-label>
            <ion-text color="{{ this.ordenCliente.estado === 2 ? 'success' : this.ordenCliente.estado === 1 ? 'warning' : 'default' }}">
              {{ this.ordenCliente.estado === 0 ? 'RECIBIDA' :
              this.ordenCliente.estado === 1 ? 'EN PREPARACION' :
              this.ordenCliente.estado === 2 ? 'ORDEN LISTA' :
              'Desconocido' }}
            </ion-text>

          </ion-item>
          <ion-item>
            <ion-button (click)="cambiarEstado(this.ordenCliente.numOrden ,1)" color="warning">
              EN PREPARACION
            </ion-button>
            <ion-button (click)="cambiarEstado(this.ordenCliente.numOrden,2)" color="success">
              ORDEN LISTA
            </ion-button>

          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button href="../admin">
              <ion-icon name="apps-outline"></ion-icon>
              Dashboard
            </ion-tab-button>
            <ion-tab-button href="../admin/productos">
              <ion-icon name="cart-outline"></ion-icon>
              Productos
            </ion-tab-button>
            <ion-tab-button tab="/">
              <ion-icon name="bag-check-outline"></ion-icon>
              Ordenes
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-footer>